@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Razor Pages</h1>
    <p>1. Same Functionally like MVC but Different pattern</p>
    <p>2. Razor Page has Single Page  with  cshtml  + cshtm.cs</p>
    <p>3. Razor Pages are in   Pages  Folder  while i MVC has MVC structure</p>
    <p>4. Razor pages  has  masterLayout in Pages-> Shared Folder</p>

    <h1 class="display-4">DisAdvantages.</h1>
    <p>1. html. and  C#  both  Tightly Couple</p>
    <p>2. models are also in   cshtml.css file which can be more tightly Couple . while we can create modelSepratly also</p>
</div>
